.navigation-section {
    position: fixed;
    top: 0;
    height: 110px;
    width: 100%;
    background-color: #fafafa;
}

#top-header {
    height: 60px;
    width: 100%;
    position: absolute;
    top: 20px;
}

#google-logo {
    height: 44px;
    width: 120px;
    float: left;
    padding-right: 15px;
}

#search {
    background-color: white;
    flex: 1;
    display: flex;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16),
        0 0 0 1px rgba(0,0,0,0.08);
    margin: 0 auto;
    height: 44px;
    width: 632px;
    float: left;
}

#search-box {
    background-color: transparent;
    padding-left: 15px;
    color: rgba(0,0,0,.87);
    display: flex;
    flex: 100%;
    line-height: 34px;
    height: 38px;
    width: 528px;
    float: left;
    outline: 0;
    border: 0 white;
    font-size: 16px;
}

#microphone {
    float: left;
}
#microphone img {
    background: transparent;
    height: 24px;
    width: 18px;
    padding: 10px 14px;
}

#button {
    border: 0;
    box-shadow: 0;
    height: 24px;
    width: 24px;
}

#button img {
    height: 24px;
    width: 24px;
    padding: 10px 0;
}

.applications {
    height: 24px;
    width: 24px;
    margin: 11px 24px;
    position: absolute;
    right: 85px;
}

.sign-in {
    background: -webkit-linear-gradient(top,#4387fd,#4683ea);
    border: 1px solid #4285f4;
    border-radius: 3px;
    padding: 0 12px;
    margin: 8px 24px;
    line-height: 28px;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 13px;
    color: #fff;
    float: right;
}

#nav-header {
    height: 50px;
}

.footer-section {
    position: fixed;
    bottom: 0;
    height: 64px;
    width: 100%;
    background-color: #fafafa;
}